// **-----
// COLORS
// **-----

// DEFAULT _S "COLORS" VARS
$color__background-body: #ebe8e5;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #7b6e62;
$color__link-visited: $color__link;
$color__link-hover: $color__link;
$color__text-main: #505050;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// /end

// custom color variables

$color__background-main_panel: #fff;
$color__border-main_panel: #dfd8cf;

$color__background-sub_panel: #ebe8e5;
$color__border-sub_panel: #e8e0da;
$color__text-sub_panel: #76624e;

$color__entry_highlight: #7b6048;

// Mixins to apply coloring

// @mixin body() {
// 	border-top: 2 * $px solid $color__border-main_panel;
// 	background-color: $color__background-body;
// }

// @mixin links() {
// 	a {
// 		text-decoration: none;
// 		border-bottom: 1px dotted transparent;
// 	}
// 	a:hover,
// 	a:active {
// 		border-bottom: 1px dotted $color__link;
// 	}
// }

// @mixin blockquote() {

// }

@mixin main_panel() {
	background-color: $color__background-main_panel;
	border: 1 * $px solid $color__border-main_panel;
	box-shadow: 0 1 * $px 1 * $px rgba(33, 19, 4, 0.07);
}

@mixin comment() {
	background-color: rgba(221, 193, 174, 0.05);
	border: 1 * $px solid rgba(108, 67, 38, 0.05);
	box-shadow: inset 0 2 * $px 5 * $px rgba(194, 188, 184, 0.05);
}
